.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 34px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding: 0 115px;
  }
}
