@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
  --accent-color: #d41443;
  --subtitle-color: #ffa5ba;
  --white-color: #ffffff;
  --black-color: #000000;
  --description-color: #907e82;
  --primary-background-color: #ffb8ca;
  --secondary-background-color: #fff5f6;
  --background-beige: #f0d1a5;
  --background-green: #c2e297;
  --background-grey: #e5e5e5;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
}

@media screen and (min-width: 1280px) {
  .btn {
    font-size: 14px;
    line-height: 1.28;
  }
}

.page-header {
  overflow: hidden;
  position: relative;
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .page-header {
    min-height: 502px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    min-height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    min-height: 665px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 6px;
    margin-bottom: 137px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 38px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-bottom: 84px;
  }
}

.menu {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  min-width: 250px;
  height: 100vh;
  padding: 60px 20px 0 20px;
  background-color: #e17992;
  -webkit-filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.menu.is-hidden {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu.is-hidden .btn-menu--close {
  display: block;
}

.menu .btn-menu--close {
  display: none;
}

.menu.is-hidden .btn-menu {
  display: none;
}

.btn-menu {
  width: 20px;
  height: 20px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .btn-menu {
    top: 19px;
    right: 20px;
  }
}

.icon-btn-menu {
  width: 20px;
  height: 12px;
}

.btn-menu--close {
  position: absolute;
  top: 24px;
  right: 28px;
  line-height: 0;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon-btn-menu--close {
  width: 14px;
  height: 14px;
  fill: var(--white-color);
}

.btn-buy {
  width: 209px;
  height: 44px;
  color: var(--accent-color);
  background-color: var(--white-color);
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 19px;
}

.icon-btn-buy {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: var(--accent-color);
  stroke: var(--accent-color);
  stroke-width: 1px;
}

.nav__link {
  padding: 13px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  color: var(--white-color);
  border-top: 1px solid #E18298;
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .wparrer-title {
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 480px) {
  .wparrer-title {
    position: relative;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .wparrer-title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .wparrer-title {
    margin-bottom: 25px;
  }
}

.hero .hero-title {
  color: var(--white-color);
  font-weight: 400;
  text-align: left;
}

.title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .title-btn {
    position: relative;
    z-index: 2;
  }
}

.title-btn__item:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 1279px) {
  .title-btn__item:not(:last-child) {
    margin-right: 8px;
  }
}

.title-btn--red {
  height: 24px;
  width: 63px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.title-btn--red:hover, .title-btn--red:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1280px) {
  .title-btn--red {
    height: 40px;
    width: 104px;
  }
}

.title-btn--white {
  height: 24px;
  width: 82px;
  color: var(--accent-color);
  background-color: var(--white-color);
}

.title-btn--white:hover, .title-btn--white:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 1280px) {
  .title-btn--white {
    height: 40px;
    width: 138px;
  }
}

.icecream {
  bottom: 0;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .icecream {
    right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .icecream {
    right: 247px;
  }
}

@media screen and (min-width: 1280px) {
  .icecream {
    right: 450px;
  }
}

.icecream::after {
  position: absolute;
  top: -9px;
  left: -52%;
  z-index: -1;
  display: block;
  content: '';
  background-color: #ffa5ba;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .icecream::after {
    top: -9px;
    left: -52%;
    min-width: 346px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .icecream::after {
    top: -32px;
    left: -51%;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .icecream::after {
    top: -56px;
    left: -51%;
    width: 538px;
    height: 538px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-text--milk {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tatsy {
    display: none;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  background-color: var(--background-grey);
  background-size: 100%;
}

.products__subtitle-first {
  margin-bottom: 15px;
}

.products__title {
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 49px;
  }
}

.products__subtitle {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .products__subtitle {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) {
  .products_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products_item {
  padding-top: 161px;
  padding-bottom: 41px;
  margin-bottom: 130px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .products_item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products_item:not(:last-child) {
    margin-right: 29px;
  }
}

.item-first {
  background-color: var(--primary-background-color);
}

.item-second {
  background-color: var(--background-beige);
}

.item-third {
  background-color: var(--background-green);
}

.product__subtitle {
  margin-bottom: 30px;
}

.product__text {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.about {
  padding-top: 125px;
  padding-bottom: 20px;
  background-color: var(--secondary-background-color);
  background-size: 100%;
}

@media screen and (max-width: 767px) {
  .about {
    background-image: url(../images/about/about-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-bg-mobile@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .about {
    background-image: url(../images/about/about-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
  }
}

.about__title {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .about__thumb {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .about__picture {
    max-width: 340px;
  }
}

.about__text-box {
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .about__text-box {
    padding: 0;
    width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text-box {
    padding-left: 70px;
    width: 463px;
  }
}

.about__text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}

.about__text:nth-child(2) {
  margin-bottom: 15px;
}

.about__text:nth-child(3) {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
  }
}

.about__text--light {
  color: var(--description-color);
}

.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 176px;
  height: 44px;
  padding: 10px 22px;
  border-radius: 22px;
  color: var(--accent-color);
  background-color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__btn:hover, .about__btn:focus {
  background-color: #ecebeb;
}

.about__btn-icon {
  margin-left: 14px;
  width: 8px;
  height: 10px;
}

.gallery {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, var(--white-color)), color-stop(60%, var(--secondary-background-color)));
  background: linear-gradient(to top, var(--white-color) 60%, var(--secondary-background-color) 60%);
}

/* ---- grid ---- */
.grid {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 340px) {
  .grid {
    display: none;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid__item ---- */
.grid__item {
  overflow: hidden;
  margin-bottom: 6px;
  width: 120px;
  height: 120px;
  float: left;
  border-radius: 16px;
  z-index: 0;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.grid__item--large {
  width: 246px;
  height: 246px;
}

.grid__item--gigante {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

@media screen and (max-width: 340px) {
  .grid__item--gigante {
    display: none;
  }
}

.grid__item:hover {
  background: #a2c;
  border-color: white;
  cursor: pointer;
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.section-subtitle {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .section-subtitle {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
/*# sourceMappingURL=main.css.map */