/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// UTILS
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/breakpoints';

// BASE
@import './base/common';
@import './base/container';

// LAYOUT
@import './layout/hero-header';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';

// COMPONENTS
@import './components/section-title';
@import './components/section-subtitle';
@import './components/mobile-menu';
@import './components/modal_about';
@import './components/scrollup';
@import './components/modal-hero';
@import './components/reviews-carusel';
@import './components/modal-map';
@import './components/modal-franchise';
