:root {
  // FONTS
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;

  // COLORS
  // Цвет заголовков, ховеров, текста кнопок, иконок и телефона в футере.
  --accent-color: #d41443;

  // Цвет сабтайтлов и иконок в футере.
  --subtitle-color: #ffa5ba;

  // Цвет белого текста и бекраунда.
  --white-color: #ffffff;

  // Цвет черного текста
  --black-color: #000000;

  // Цвет описания и копирайта в футере
  --description-color: #907e82;

  // Бекграунд header, hero и колонки в products.
  --primary-background-color: #ffb8ca;

  // Бекграунд в products.
  --background-grey: #e5e5e5;

  // Бекграунд about, footer, и части секции contacts.
  --secondary-background-color: #fff5f6;

  // Бекграунд колонки в products и завголовка contacts.
  --background-beige: #f0d1a5;

  // Бекграунд колонки в products и завголовка contacts.
  --background-green: #c2e297;

  --dots-three-color: #c7133e;
  --underline-text-color: #e1e1e1;

  // TRANSITION
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
