<!--advantages-->
<section class= "advantages">
<div class="container">       
<h1 hidden>Advantages</h1>
<ul class="advantages__data">
        <li class="advantages__items"> 
        <img class="advantages__image" src="./images/advantages/icon1.png" width=33 height=50 alt="icon1"/>  
          <h2 class="advantages__header">721</h2>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li> 
        <li class="advantages__items"> 
            <img class="advantages__image" src="./images/advantages/icon2.png" width=50 height=50 alt="icon2"/>    
            <h2 class="advantages__header">16kg</h2>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li> 
            <li class="advantages__items"> 
            <img class="advantages__image" src="./images/advantages/icon3.png" width=44 height=50 alt="icon3"/>    
            <h2 class="advantages__header">84</h2>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li> 
        </ul>
</div>
</section>
