<!--advantages-->
<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <b class="advantages__label section-title">721</b>
        <p class="advantages__text">721 buckets of the best milk we use every day. Everything for you.</p>
      </li>
      <li class="advantages__item">
        <b class="advantages__label section-title">16kg</b>
        <p class="advantages__text">16 kg of the juiciest fruits we use every day. Everything for you.</p>
      </li>
      <li class="advantages__item">
        <b class="advantages__label section-title">84</b>
        <p class="advantages__text">We produce 84 kg of ice cream every day. Everything for you.</p>
      </li>
    </ul>
  </div>
</section>
