<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__container">
          <p class="contacts__title">CAFE</p>
          <div class="contacts__address--wrap">
            <address class="contacts__address">Chicago</address>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-schedule">
            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Monday - Friday</p>
              <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Saturday - Sunday</p>
              <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-connect">
            <li class="list-connect__item">
              <a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a>
            </li>
            <li class="list-connect__item">
              <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts__item">
        <div class="contacts__container">
          <p class="contacts__title contacts__title--green">FOOD TRUCK</p>
          <div class="contacts__address--wrap">
            <address class="contacts__address">Los Angeles</address>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-schedule">
            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Monday - Friday</p>
              <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
            </li>

            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Saturday - Sunday</p>
              <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-connect">
            <li><a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
            <li>
              <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__container">
          <p class="contacts__title">CAFE</p>
          <div class="contacts__address--wrap">
            <address class="contacts__address">New York</address>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-schedule">
            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Monday - Friday</p>
              <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__item-schedule">
              <p class="contacts__text--days">Saturday - Sunday</p>
              <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <div class="conntacts__wrap"></div>
          <ul class="contacts__list-connect">
            <li><a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
            <li>
              <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__list-button">
      <li class="contacts__item-button">
        <button class="contacts__button" type="button">
          <span
            >Our Locations
            <svg class="contacts__icon" width="8" height="10">
              <use href="./images/icons.svg#icon-white-angle-bracket"></use>
            </svg>
          </span>
        </button>
      </li>
      <li class="contacts__item-button">
        <button class="contacts__button--white" type="button">
          <span>Franchise</span>
          <svg class="icon-btn-buy" width="5" height="8">
            <use href="./images/icons.svg#icon-ctrl"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
