<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <address class="contacts__address">Chicago</address>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__list-schedule">
          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Saturday - Sunday</p>
            <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list-connect">
          <li class="list-connect__item">
            <a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a>
          </li>
          <li class="list-connect__item">
            <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__title contacts__title--green">FOOD TRUCK</p>
        <address class="contacts__address">Los Angeles</address>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__list-schedule">
          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
          </li>

          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Saturday - Sunday</p>
            <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list-connect">
          <li><a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
          <li>
            <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <address class="contacts__address">New York</address>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__list-schedule">
          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-schedule">
            <p class="contacts__text--days">Saturday - Sunday</p>
            <p class="contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list-connect">
          <li><a class="connect__link" href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
          <li>
            <a class="connect__link" href="mail-to:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__list-button">
      <li class="contacts__item-button">
        <button class="contacts__button" type="button" map-modal-open>
          <span
            >Our Locations
            <svg class="contacts__icon" width="10" height="10">
              <use href="./images/icons.svg#icon-white-angle-bracket"></use>
            </svg>
          </span>
        </button>
      </li>

      <li class="contacts__item-button">
        <button class="contacts__button--white" type="button">
          <span>Franchise</span>
          <svg class="icon-btn-buy" width="5" height="8">
            <use href="./images/icons.svg#icon-ctrl"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <!-- МОДАЛКА -->
  <div class="map-backdrop is-hidden" map-modal>
    <div class="map-modal">
      <button class="modal__btn-close" map-modal-close1>
        <svg class="modal__btn-close-icon">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.8663399464604!2d30.531895015730505!3d50.42496187947188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1639069474725!5m2!1sru!2sua"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</section>
