<section class="contacts">
  <div>
    <ul>
      <li>
        <p>CAFE</p>
        <address>Chicago</address>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul>
          <li><a href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
          <li><a href="mail-to:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>

      <li>
        <p>FOOD TRUCK</p>
        <address>Los Angeles</address>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>

          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul>
          <li><a href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
          <li><a href="mail-to:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li>
        <p>CAFE</p>
        <address>Chicago</address>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul>
          <li><a href="tel:+61(0)-383-766-284">+61(0) 383 766 284 </a></li>
          <li><a href="mail-to:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchise</button>
  </div>
</section>
