
                       <!---Footer-->
   <footer class="footer">
        <div class="container">
       
        <p class="section-subtitle">homemade ice cream made</p>
        <p class="section-title">with passion</p>
        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="https://github.com" target="_blank"></a><svg>
                    <use href="./images/icons.svg#icon-social1"></use>
                </svg></a>
            </li>

            <li class="social__item">
                <a class="social__link" href="https://telegram.org" target="_blank"></a><svg class="" width="34" height="34">
                    <use href="./images/icons.svg#icon-social2"></use>
                </svg></a>
            </li>

            <li class="social__item">
                <a class="social__link" href="https://facebook.com" target="_blank"><svg>
                    <use href="./images/icons.svg#icon-social3"></use>
                </svg></a>
            </li>
        </ul>
      
          <a class="contact__tel" href="tel:+610383766284"><span>Feel free to contact</span>+61 (0) 383 766 284</a>
          
    </div>
   </footer>  
