<footer class="footer">
  <div class="container">
    <div class="footer__titles">
      <p class="section-subtitle">HOMEMADE ISE CREAM MADE</p>
      <p class="section-title">WITH PASSION</p>
    </div>
    <div class="socials">
      <ul class="socials_list">
        <li class="socials__item">
          <a
            href="https://www.github.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="github"
            class="socials__link"
            width="34"
            height="34"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-social1"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.telegram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="telegram"
            class="socials__link"
            width="34"
            height="34"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-social2"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
            class="socials__link"
            width="34"
            height="34"
          >
            <svg class="socials__icon">
              <use href="./images/icons.svg#icon-social3"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel::+610383766284" class="socials__telephone"
        ><span class="socials__telephone-ivnite">Feel free to contact&nbsp</span>+61 (0) 383 766
        284</a
      >
    </div>
  </div>
  <div class="copyright">
    <span class="copyright__text">© 2021 - IceCream. All Rights Reserved. </span>
  </div>
</footer>
