
                       <!---Footer-->
   <section class="footer">

  
        <div class=" container section"></div>
    <ul class="btn">
        <li class="btn__title"><button class="btn__item" type="button">Our Locations</button></li>
        <li class="btn__title"><button class="btn__item" type="button">Franchise</button></li>
       
    </ul>
        <p class="section-subtitle">homemade ice cream made</p>
        <p class="section-title">with passion</p>
        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="https://github.com"><svg>
                    <use href="../images/symbol-defs.svg#"></use>
                </svg>github</a>
            </li>

            <li class="social__item">
                <a class="social__link" href="https://telegram.org"><svg class="" width="34" height="34">
                    <use href="../images/symbol-defs.svg#icon-social1"></use>
                </svg>telegram</a>
            </li>

            <li class="social__item">
                <a class="social__link" href="https://uk-ua.facebook.com"><svg>
                    <use href="#"></use>
                </svg>facebook</a>
            </li>
        </ul>
        <ul class="contact">
            <li class="contact__item">
          <a class="contact__tel" href="+61 (0) 383 766 284"><span>Feel free to contact</span>+61 (0) 383 766 284</a>
            </li>
        </ul>
    </div>
   </footer>  
