<section class="gallery-wrap">
  <div class="gallery container" id="gallery">
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-1@2x-min.jpg" loading="eager" alt="Green ice cream" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-2@2x-min.jpg" loading="eager" alt="Ice cream in hand" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-3@2x-min.jpg" loading="eager" alt="Pink ice cream" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-4@2x-min.jpg" loading="eager" alt="Ice cream cone" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img
          src="./images/gallery/gallery-5@2x-min.jpg"
          loading="eager"
          alt="Smiling girl with ice cream"
        />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-6@2x-min.jpg" loading="eager" alt="Ice cream salad" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-7@2x-min.jpg" loading="eager" alt="Ice cream in hand" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img
          src="./images/gallery/gallery-8@2x-min.jpg"
          loading="eager"
          alt="Dog eating ice cream"
        />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-9@2x-min.jpg" loading="eager" alt="Ice cream shake" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img
          src="./images/gallery/gallery-10@2x-min.jpg"
          loading="eager"
          alt="Bottle with ice cream"
        />
      </div>
    </div>
  </div>
</section>
