<section class="gallery-wrap">
  <div class="gallery container" id="gallery">
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-1.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-2.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-3.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-4.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content"><img src="./images/gallery/gallery-5.jpg" alt="gallery" /></div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-6.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content"><img src="./images/gallery/gallery-7.jpg" alt="" /></div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-8.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-9.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-item">
      <div class="content">
        <img src="./images/gallery/gallery-10.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
