<!-- <section class="gallery">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/gallery/gallery-desktop@1x.png 1x,
          ./images/gallery/gallery-desktop@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-tablet@1x.png 1x,
          ./images/gallery/gallery-tablet@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-mobile@1x.png 1x,
          ./images/gallery/gallery-mobile@2x.png 2x
        "
        media="(max-width:767px)"
        type="image/png"
      />
      <img src="#" alt="gallery" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <h2 class="visually-hidden">Ice cream Gallery</h2>
  <div class="container">
    <div class="gallery_wrap">
      <figure>
        <img src="./images/gallery/gallery-1.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-2.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-3.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-4.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-5.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-6.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-7.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-8.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-9.jpg" width="430" height="430" />
      </figure>
      <figure>
        <img src="./images/gallery/gallery-10.jpg" width="430" height="430" />
      </figure>
    </div>
  </div>
</section>
