<header>
    <div class="container">
        <a href="./index.html" class="logo"></a>
        <nav class="nav-header">
            <ul class="nav">

                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">How it's made?</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button 
        class="btn-hero" 
        type="button">
        <svg class="icon-btn-hero">
            <use href=""></use>
        </svg>
        Buy now</button>
    </div>


    <section class="hero">
        <div class="container">
            <h1 class="title hero-title">ice cream made with
                <span class="hero-title__span">passion</span>
            </h1>
            <ul class="title-btn">
                <li class="title-btn__item">
                    <a href="#" class="title-btn__link">Products</a>
                </li>
                <li class="title-btn__item">
                    <a href="#" class="title-btn__link">How it's made?</a>
                </li>
            </ul>
          
        <img src="#" alt="icecream">
        <ul class="info">
            <li class="info__item">
                <h2 class="info__title">
                    16
                </h2>
                <p class="info__text">cafes</p>
            </li>
            <li class="info__item">
                <h2 class="info__title">
                    23
                </h2>
                <p class="info__text">food trucks</p>
            </li>
        </ul>
        <div class="wrapper">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn-form" type="button"></button>
        </div>
        <img src="#" alt="so tasty">
     </div> 
    </section>
</header>