<section class="products" id="products">
  <div class="container">
    <p class="section-subtitle products__subtitle-first">100% natural</p>
    <h2 class="section-title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item item-first">
        <h3 class="products__subtitle">ice cream</h3>
        <!-- <button class="products__points">
          <div class="products__points-inline"></div>
        </button> -->
        <p class="products__text">
          Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made
          from dairy milk or cream and is flavoured with a sweetener.
        </p>
        <div class="products__overflow-first" id="products__overflow-first" product-data-menu-1>
          <p class="products__description-first">
            Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be
            made from dairy milk or cream and is flavoured with a sweetener, either sugar or an
            alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries
            or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen
            together.
          </p>
        </div>
        <button
          type="button"
          class="btn-info-first"
          aria-expanded="false"
          aria-controls="products__overflow-first"
          data-menu-button-1
        >
          <svg class="icon-btn-info-first" aria-label="Переключатель мобильного меню">
            <use class="icon__arrow" href="./images/icons.svg#icon-arrow-right"></use>
            <use class="icon__close" href="./images/icons.svg#icon-x"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item-second">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Iced coffee is a coffee beverage served cold. It may be prepared either by brewing coffee
          in the normal way and then serving it over ice or in cold milk.
        </p>
        <div class="products__overflow-second" id="products__overflow-second" product-data-menu-2>
          <p class="products__description-second">
            Iced coffee is a coffee beverage served cold. It may be prepared either by brewing
            coffee in the normal way and then serving it over ice or in cold milk, or by brewing the
            coffee cold. In hot brewing, sweeteners and flavoring may be added before cooling, as
            they dissolve faster. Iced coffee can also be sweetened with pre-dissolved sugar in
            water.
          </p>
        </div>
        <button
          type="button"
          class="btn-info-second"
          aria-expanded="false"
          aria-controls="products__description-second"
          data-menu-button-2
        >
          <svg class="icon-btn-info-second" aria-label="Переключатель мобильного меню">
            <use class="icon__arrow" href="./images/icons.svg#icon-arrow-right"></use>
            <use class="icon__close" href="./images/icons.svg#icon-x"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item-third">
        <h3 class="products__subtitle" lang="en">milkshakes</h3>
        <p class="products__text">
          A milkshake is a sweet drink made by blending milk, ice cream, and flavorings or
          sweeteners such as butterscotch, caramel sauce, chocolate syrup, fruit syrup,
        </p>
        <div class="products__overflow-third" id="products__overflow-third" product-data-menu-3>
          <p class="products__description-third">
            A milkshake (sometimes simply called a shake) is a sweet drink made by blending milk,
            ice cream, and flavorings or sweeteners such as butterscotch, caramel sauce, chocolate
            syrup, fruit syrup, or whole fruit into a thick, sweet, cold mixture. It may also be
            made using a base made from non-dairy products, including plant milks such as almond
            milk, coconut milk, or soy milk.
          </p>
        </div>
        <button
          type="button"
          class="btn-info-third"
          aria-expanded="false"
          aria-controls="products__overflow-third"
          data-menu-button-3
        >
          <svg class="icon-btn-info-third" aria-label="Переключатель мобильного меню">
            <use class="icon__arrow" href="./images/icons.svg#icon-arrow-right"></use>
            <use class="icon__close" href="./images/icons.svg#icon-x"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- <script src="../js/modal-products.js/"></script> -->
