<!--#region section-reviews #-->
<section>
    <div class="container">
        <div id="slider__wrap">
            <ul class="slider">
                <li class="slider__item">
                    <img class="slider__img" src="#" alt="#">
                    <p class="slider__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Emily, Los Angeles
                    </h3>
                </li>
                <li class="slider__item">
                    <img class="slider__img" src="#" alt="#">
                    <p class="slider__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur sapiente rerum in
                        autem mollitia deleniti deserunt voluptatibus inventore facere?
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Dan, New York
                    </h3>
                </li>
                <li class="slider__item">
                    <img class="slider__img" src="#" alt="#">
                    <p class="slider__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus ad exercitationem
                        repudiandae a, veniam autem quibusdam quaerat fuga delectus?
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Amon-Ra, Sozopol
                    </h3>
                </li>
            </ul>
            <div class="slider__count"></div>
        </div>
    </div>
</section>
<!--#endregion  #-->