<section class="reviews">
  <div class="container">
    <div id="testimonial-slider" class="owl-carousel">
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02GH3YSC4E-2560f4a4b7e3-512"
          alt="Andrey Sanchenko"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Andrey Sanchenko, Collaborator</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02CHJ73WUV-10d10a0260c8-512"
          alt="Daryna Obitotska"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Daryna Obitotska, Collaborator</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02CWFD8CR2-c91db5278af6-512"
          alt="Den Kochergin"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Den Kochergin, Collaborator</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02C9P5HARY-606d8fe73a75-512"
          alt="photo-1"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Volodymyr Savranskyi, Team lead</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02CPB4SVD3-b58321e96106-512"
          alt="photo-1"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Ekateryna Dymchuk, Scrum master</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02HVKR8G77-a5533bd84801-512"
          alt="Oksana Semko"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Maria, Collaborator</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02EN3L7YBU-8a073bbb4350-512"
          alt="photo-1"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Oksana Semko, Collaborator</h3>
      </div>
      <!--  ////////////////////////////////////////////////////////  -->
      <div class="reviews__item equal-height style-6" style="height: 350px">
        <img
          class="reviews__image"
          src="https://ca.slack-edge.com/T027H5ULSMS-U02DG0QFR32-g93e7be6ab68-512"
          alt="photo-1"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <h3 class="reviews__title">Vladyslav Kruchok, Collaborator</h3>
      </div>
    </div>
  </div>
</section>
