<!--#region section-reviews #-->
<section>
    <div class="container">
        <div id="slider-wrap">
            <ul class="slider" id="slider">
                <li class="slider__item">
                    <img class="slider__img" src="..\src\images\reviews\testimonials1.png" alt="photo-1">
                    <p class="slider__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Emily, Los Angeles
                    </h3>
                </li>
                <li class="slider__item">
                    <img class="slider__img" src="..\src\images\reviews\testimonials2.png" alt="photo-2">
                    <p class="slider__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur sapiente rerum in
                        autem mollitia deleniti deserunt voluptatibus inventore facere?
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Dan, New York
                    </h3>
                </li>
                <li class="slider__item">
                    <img class="slider__img" src="..\src\images\reviews\testimonials3.png" alt="photo-3">
                    <p class="slider__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus ad exercitationem
                        repudiandae a, veniam autem quibusdam quaerat fuga delectus?
                    </p>
                    <ul class="dots-three">
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                        <li class="dots-three__item"></li>
                    </ul>
                    <h3 class="slider__title">
                        Amon-Ra, Sozopol
                    </h3>
                </li>
            </ul>
            <div id="left" class="slider_control"></div>
            <div id="right" class="slider_control"></div>
            <div class="slider__count" id="slider__count">
                <a class="circle active" href="#">
                    <svg width="12" height="12">
                        <use href="..\src\images\reviews\sprite-reviews.svg#icon-home_w12h12"></use>
                    </svg>
                </a>
                <a class="circle" href="#">
                    <svg width="12" height="12">
                        <use href="..\src\images\reviews\sprite-reviews.svg#icon-Ellipse_w12h12"></use>
                    </svg>
                </a>
                <a class="circle" href="#">
                    <svg width="12" height="12">
                        <use href="..\src\images\reviews\sprite-reviews.svg#icon-Ellipse_w12h12"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!--#endregion  #-->