.mobile-hero{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 55, 55, 0.5);
    
    transition: opacity 250ms var(--transition-function), visibility 250ms var(--transition-function);
     @media screen and (max-width: $pre-tablet) {
      display: none;
    }
  }
  
  .hero-modal {
    z-index: 21;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
  
     max-width: 500px;
     height: 600;   
  
    border-radius: 20px;
    background-color: var(--white-color);
  
    // @media screen and (max-width: $pre-tablet) {
    //   width: 450px;
    // }
    @media screen and (min-width: $tablet) {
      min-width: 600px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 600px;
      max-height: 600px;
    }
  }
  .hero-modal--close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color:transparent;
  
    transition: box-shadow 250ms linear;
  
    &:hover,
    &:focus{
      box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.22);
    }
  }
  
  .icon-modal--close{
    width: 14px;
    height: 14px;
    fill: var(--accent-color);
  }
  
  .mobile-hero.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .hero-modal .section-subtitle{
    @media screen and (min-width: $tablet) {
      font-size: 22px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 26px;
    }
  }
  
  .hero-modal .section-title{
    @media screen and (min-width: $tablet) {
      font-size: 40px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }
  
  
  // ICECREAM_FORM
  
  .box-img-icecream1{
    position: absolute;
    bottom: 34px;
    left: 16px;
    display: flex;
    flex-direction: column;
    width: 60px;
    
    @media screen and (max-width:$pre-tablet){
      display: none;
    }
  }
  
  .img-icecream1{
    max-width: 70px;
  }
  
  .img-icecream1:not(:last-child){
    margin-bottom: 20px;
  }
  
  .hero-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 50px;
    &:focus-within{
      color: var(--primary-background-color);
    }
  }
  
  .hero-form__label{
    max-width: 150px;
    flex-basis: calc((100% - 4 * 10px) / 2);
    margin: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
  }
  
  .hero-form__select--name{
    @include formHero();
    border-radius: 4px;
    margin-top:5px;
  }
  
  .hero-form__select--size{
    @include formHero();
    border-radius: 4px;
    margin-top:5px;
  }
  
  .hero-form__input--mail{
    @include formHero();
    border-radius: 4px;
    margin-top:5px;
    &::placeholder{
      color: inherit;
    }
  }
  
  .hero-form__text--usname{
    @include formHero();
    border-radius: 4px;
    margin-top:5px;
    resize: none;
    &::placeholder{
      color: inherit;
    }
  }
  
  .hero-form__input--number{
    @include formHero();
    border-radius: 4px;
    margin-top:5px;
  }
  
  
  
  .btn.btn-modal-form{
    position: absolute;
    bottom: 37px;
    left: 77%;
  
    font-size: 18px;
    height: 44px;
    width: 120px;
  
    color: var(--white-color);
    background-color: var(--primary-background-color);
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(330deg);
    transition: filter 250ms linear, background-color 250ms linear;
  
    &:hover,
    &:focus{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: var(--accent-color);
    }
  }
  
  .modal-click{
    position: absolute;
    bottom: 81px;
    right: 65px;
    width: 65px;
    // height: 50px;
    transform: rotate(330deg);
  }
  