// ============SCROLL UP
.scrollup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding-top: 4px;
  cursor: pointer;
  text-align: center;
  z-index: 99;

  transition: transform var(--transition-duration) var(--transition-function);

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.button-up {
  fill: var(--accent-color);

  transition: fill var(--transition-duration) var(--transition-function);
  .scrollup:hover &,
  .scrollup:focus & {
    background-color: var(--accent-color);
    fill: var(--white-color);
    border-radius: 50%;
  }
}