.advantages {
display: flex;  
background-color: var(--secondary-background-color);
padding-top: 39px;
padding-bottom: 139px;
background-size: 100%;

  @media screen and (max-width:$tablet) {
  padding-top: 66px;
  padding-bottom: 140px;
  }
  
  @media screen and (max-width:$mobile) {
  padding-top: 39px;
  padding-bottom: 97px;
  display: block;
  }
}
.advantages__item {
display: block;
height: 222px;
border-radius: 0px;
border-color: var(--white-color);
text-decoration: none;
}
.advantages__item {
@media screen and (min-width:$desktop) {
  margin-right: 30px;
  height: 222px;
  width: 330px;

 &:not(:last-child) {
margin-right: 30px;
}
  &:nth-child(3) {
margin-right: auto;
}
}
}
.advantages__item {
@media screen and (max-width:$tablet) {
  height: 226px;
  width: 180px;
  margin-right: 60px;
  
  &:not(:last-child) {
  margin-right: 60px;
  }
  &:nth-child(3) {
  margin-right: auto;
  }
  }
}
.advantages__item {
@media screen and (max-width:$mobile) {
  height: 156px;
  width: 230px;  
  margin-bottom: 38px;
 
  &:nth-child(3) {
  margin-bottom: auto;
  }
}
}
.advantages__list {
display: flex;
justify-content: space-between;
align-items: center;

@media screen and (max-width:$mobile) {
display: block;
}
}
.advantages__label {
padding: 28px;
margin-left: auto;
margin-bottom: 40px;
padding-left: 0;
position: relative;
overflow: hidden;
font-family: var(--secondary-font);
color: var(--accent-color);

  @media screen and(min-width: $desktop) {
  font-size: 58px;
  line-height: 1.2;
  letter-spacing: 0.04em; 

  }
  @media screen and(min-width: $tablet) {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  }
  @media screen and (min-width:$mobile) {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
}
.advantages__label--first::before {
content: '';
display: block;
width: 33px;
height: 50px;
background-image: url(../images/advantages/icon1.png);
margin-bottom: 40px;  
padding-left: 0;
} 
.advantages__label--second::before {
content: '';
display: block;
width: 50px;
height: 50px;
background-image: url(../images/advantages/icon2.png);
margin-bottom: 40px;
padding-left: 0;
}
 
.advantages__label--third::before {
content: '';
display: block;
width: 44px;
height: 50px;
background-image: url(../images/advantages/icon3.png);
margin-bottom: 40px;
padding-left: 0;
} 
.advantages__text {
margin-left: 0;
font-family: var(--primary-font);
color: var(--black-color);
font-style: Bold;
font-weight: 700;
color: var(--black-color);

 @media screen and(min-width: $desktop) {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em; 
  margin-top: 15px;
  height: 52px;
  width: 330px;
 }
 @media screen and (min-width: $pre-tablet) {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-top: 13px;
  height: 67px;
  width: 180px;
 }
  @media screen and(max-width: $tablet) {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-top: 13px;
  height: 67px;
  width: 180px;
  }
  @media screen and (max-width:$mobile) {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  margin-top: 20px;
  height: 36px;
  width: 230px;
  }
}
    