.advantages {
  padding-top: 20px;
  padding-bottom: 95px;

  background-color: var(--secondary-background-color);

  @media screen and (min-width: $tablet) {
    padding-top: 33px;
    padding-bottom: 140px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 70px;
  }
}

.advantages__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -30px;
  }
  @media screen and (min-width: $desktop) {
  }
}

.advantages__item {
  width: 230px;
  &:hover {
      transform: scale(1.025);
      transition: transform var(--transition-duration) linear;
    }

  @media screen and (max-width: $pre-tablet) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 180px) / 3);
    margin: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 270px) / 3);
  }
}

.advantages__item .advantages__label {
  font-size: 36px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}

.advantages__text {
  margin-top: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.67;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}

// ====первая иконка
.advantages__item:nth-child(1) {
  .advantages__label::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    width: 33px;
    height: 50px;

    background-image: url(../images/advantages/icon1.png);

     //=========медиаправило кроссбраузерности, для Retina экранов
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/advantages/icon1@2x.png);
        background-size: contain;
      }

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
}

// ====вторая иконка
.advantages__item:nth-child(2) {
  .advantages__label::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;

    background-image: url(../images/advantages/icon2.png);

     //=========медиаправило кроссбраузерности, для Retina экранов
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/advantages/icon2@2x.png);
        background-size: contain;
      }

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
}

// ====третья иконка
.advantages__item:nth-child(3) {
  .advantages__label::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    width: 44px;
    height: 50px;

    background-image: url(../images/advantages/icon3.png);

     //=========медиаправило кроссбраузерности, для Retina экранов
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/advantages/icon3@2x.png);
        background-size: contain;
      }

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }
}