.footer {
  background: #fff5f6;
}
br {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.footer__list {
  display: inline-block;
}
.footer__subtitle {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 17px;
  padding-top: 113px;


  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.footer__title {
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 43px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 1, 13;
  }
  @media screen and (min-width: $desktop) {
    font-size: 56px;
    display: flex;
    line-height: 1, 14;
  }
}
.footer__buttom {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 32px;
  padding-top: 20px;
  padding-bottom: 25px;

  word-wrap: break-word;

  color: #907e82;
  border-top: 1px solid #e1e1e1;
}
.social {
  text-align: right;
}
.social__list {
  display: flex;
  justify-content: end;
  margin-top: 43px;
  margin-right: 20px;
}
.social__link {
  color: var(--white-color);
  width: 32px;
  height: 32px;
  background: var(--subtitle-color);
  border-radius: 22px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  fill: #fff5f6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms (0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
.social__icon {
  width: 30px;
  height: 20px;
  justify-content: right;
  align-content: center;
  fill: currentColor;
}
.sotial__item {
  width: 34px;
  height: 34px;
  margin-right: 30px;

  ​ &:not(:first-child) {
    margin-right: 30px;
  }
}
​ .contact__tel {
  display: flex;
  justify-content: end;
  margin-top: 46px;
  color: var(--accent-color);
}
.spn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 86;
  color: black;
  padding-right: 10px;
}
