@mixin centrFlex ($flex: flex, $justC:center, $alI:center){
    display: $flex;
    justify-content: $justC;
    align-items: $alI;
}

.page-header{
    overflow: none;
    position: relative;
    min-height: 502px;

    background-color: var(--primary-background-color);
}
.container-nav{
    @media screen and (max-width:$pre-tablet) {
        padding-top: 6px;
        padding-bottom: 137px;
    }

    @media screen and (min-width:$tablet) {
        padding-top: 38px;
        padding-bottom: 15px;
    }

    @media screen and (min-width:$desktop) {
        padding-bottom: 84px;
    } 
}

// TITLE H1----
.wparrer-title{
    @media screen and (min-width:$mobile) {
        margin-bottom: 19px;  
    } 

    @media screen and (max-width:$mobile) {
    position: relative;
    z-index: 2;
    }

    @media screen and (min-width:$tablet) {
        margin-bottom: 20px;
    } 
    @media screen and (min-width:$desktop) {
        margin-bottom: 25px;
    } 
}

.hero .hero-title{
    color: var(--white-color);
    font-weight: 400;
    text-align: left;
    }

.title-btn{
    display: flex;
    @media screen and (max-width:$mobile) {
    position: relative;
    z-index: 2;
    }
}

.title-btn__item:not(:last-child){
    @media screen and (max-width:$pre-desktop) {
        margin-right: 8px;
    }

    margin-right: 15px;
}

//---- BTN-----
.btn{
    @include centrFlex();
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;

    @media screen and (min-width:$desktop) {
    font-size: 14px;
    line-height: 1.28;
    }
}

.title-btn--red{
    height: 24px;
    width: 63px;
    color: var(--white-color);
    background-color: var(--accent-color);

    &:hover,
    &:focus{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media screen and (min-width:$desktop){
    height: 40px;
    width: 104px;
    }
}

.title-btn--white{
    height: 24px;
    width: 82px;
    color: var(--accent-color);
    background-color: var(--white-color);

    &:hover,
    &:focus{
        background-color: rgba(236, 235, 235, 1);
    }

    @media screen and (min-width:$desktop){
    height: 40px;
    width: 138px;
    }
}

// ICE__CREAM

.icecream{
    bottom: 0;
    right: 32px;
    position: absolute;
    z-index: 1;
}

.icecream::after{
    position: absolute;
    top: -9px;
    left: -50%;
    z-index: -1;
    display: block;
    content: '';
    width: 346px;
    height: 344px;
    background-color: rgba(255, 165, 186, 1);
    border-radius: 50%;
}

// INFO
.info{
    @media screen and (max-width:$pre-tablet){
        display: none;
    }
}

// MILK
.wrapper-text--milk{
    @media screen and (max-width:$pre-tablet){
        display: none;
    }
}

// TATSY
.tatsy{
    @media screen and (max-width:$pre-tablet){
        display: none;
    }
}