.products {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white-color);

  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  &:hover .products__item {
    transform: rotate(360deg);
    transition: 500ms var(--transition-function);
  }
}

.products__subtitle-first {
  margin-bottom: 15px;
  cursor: pointer;
}

.products__title {
  margin-bottom: 144px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 259px;
  }
}

.products__subtitle-first,
.products__title {
  &:hover,
  &:focus {
    transform: scale(1.025);
    transition: transform var(--transition-duration) linear;
  }
}

.products__subtitle {
  &:hover,
  &:focus {
    transform: scale(1.12);
    transition: transform var(--transition-duration) linear;
  }
}

.products__subtitle {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 66px;

  @media screen and(min-width: $desktop) {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
  }
}

.products__list {
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.products__item {
  padding: 0;
  border: 0;
  vertical-align: top;
  border-radius: 24px;
  position: relative;
  cursor: pointer;

  @media screen and (max-width: $pre-tablet) {
    width: 280px;
    height: 485px;
    padding-top: 161px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $pre-tablet) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and(min-width: $tablet) {
    width: 220px;
    height: 485px;
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 40px;
  }

  @media screen and(min-width: $desktop) {
    width: 330px;
    height: 525px;
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 50px;
    // &:not(:first-child) {
    //   margin-left: 30px;
    // }
  }
}

.item-first.products__item::before {
  content: '';
  width: auto;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: $pre-tablet) {
    width: 249px;
    height: 252px;
    top: -23%;
    left: 7%;
    background-image: url('../images/products/ice-cream-mobile.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-cream-mobile@2x.png');
  // }

  @media screen and (min-width: $tablet) and(max-width: $desktop) {
    width: 220px;
    height: 226px;
    top: -20%;
    left: 0;
    background-image: url('../images/products/ice-cream-tablet.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-cream-tablet@2x.png');
  // }

  @media screen and (min-width: $desktop) {
    width: 335px;
    height: 335px;
    top: -40%;
    left: 0;
    background-image: url('../images/products/ice-cream-desktop.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-cream-desktop@2x.png');
  // }
}

.item-second.products__item::before {
  content: '';
  width: auto;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: $pre-tablet) {
    width: 249px;
    height: 252px;
    top: -23%;
    left: 7%;
    background-image: url('../images/products/ice-coffee-mobile.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-coffee-mobile@2x.png');
  // }

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    width: 220px;
    height: 226px;
    top: -23%;
    left: 0;
    background-image: url('../images/products/ice-coffee-tablet.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-coffee-tablet@2x.png');
  // }

  @media screen and (min-width: $desktop) {
    width: 335px;
    height: 335px;
    top: -40%;
    left: 0;
    background-image: url('../images/products/ice-coffee-desktop.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/ice-coffee-desktop@2x.png');
  // }
}

.item-third.products__item::before {
  content: '';
  width: auto;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: $pre-tablet) {
    width: 249px;
    height: 252px;
    top: -23%;
    left: 7%;
    background-image: url('../images/products/milkshakes-mobile.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/milkshakes-mobile@2x.png');
  // }

  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    width: 220px;
    height: 226px;
    top: -21%;
    left: 0;
    background-image: url('../images/products/milkshakes-tablet.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/milkshakes-tablet@2x.png');
  // }

  @media screen and (min-width: $desktop) {
    width: 335px;
    height: 335px;
    top: -40%;
    left: 0;
    background-image: url('../images/products/milkshakes-desktop.png');
    background-repeat: no-repeat;
  }

  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url('../images/products/milkshakes-desktop@2x.png');
  // }
}

.products__item::after {
  content: '';
  width: 26px;
  height: 6px;
  top: 44%;
  left: 47%;
  position: absolute;
  align-self: center;
  background-image: url('../images/products/points.png');
  background-repeat: no-repeat;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    top: 43%;
    left: 45%;
  }

  @media screen and (min-width: $desktop) {
    top: 44%;
    left: 46%;
    margin-bottom: 32px;
  }
}

.item-first {
  background-color: var(--primary-background-color);
}

.item-second {
  background-color: var(--background-beige);
}

.item-third {
  background-color: var(--background-green);
}

.product__subtitle {
  margin-bottom: 30px;
}

.products__text {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
  height: 124px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  margin-bottom: 50px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    height: 124px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    height: 106px;
    margin-bottom: 64px;
  }
}

.btn-info-first,
.btn-info-second,
.btn-info-third {
  position: absolute;
  z-index: 997;
  right: 40%;
  bottom: 8%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: transform var(--transition-duration) linear;
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: $tablet) {
    right: 40%;
    bottom: 7%;
  }

  @media screen and (min-width: $desktop) {
    right: 44%;
    bottom: 10%;
  }
}

.icon-btn-info-first,
.icon-btn-info-second,
.icon-btn-info-third {
  width: 11px;
  height: 10px;
  fill: var(--accent-color);
  // &:hover,
  // &:focus {
  //   fill: var(--white-color);
  // }
}

.btn-info-first .icon__arrow,
.btn-info-second .icon__arrow,
.btn-info-third .icon__arrow {
  display: block;
}

.btn-info-first.is-open .icon__arrow,
.btn-info-second.is-open .icon__arrow,
.btn-info-third.is-open .icon__arrow {
  display: none;
}

.btn-info-first .icon__close,
.btn-info-second .icon__close,
.btn-info-third .icon__close {
  display: none;
}

.btn-info-first.is-open .icon__close,
.btn-info-second.is-open .icon__close,
.btn-info-third.is-open .icon__close {
  display: block;
}

.products__overflow-first,
.products__overflow-second,
.products__overflow-third {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--primary-font);

  transform: scale (0);
}

.products__overflow-first.is-open,
.products__overflow-second.is-open,
.products__overflow-third.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: scale(1.018);
  transition: transform var(--transition-duration) linear;

  @media screen and (max-width: $pre-tablet) {
    width: 100%;
    height: 100%;
    padding-top: 161px;
  }

  @media screen and(min-width: $tablet) {
    width: 100%;
    height: 100%;
    padding-top: 152px;
  }

  @media screen and(min-width: $desktop) {
    width: 100%;
    height: 100%;
    padding-top: 163px;
  }

  .products__description-first,
  .products__description-second,
  .products__description-third {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.8;
    height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 24px;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 20px 20px;

    @media screen and (max-width: $pre-tablet) {
      font-size: 14px;
    }

    @media screen and(min-width: $tablet) {
      font-size: 12px;
    }

    @media screen and(min-width: $desktop) {
      font-size: 16px;
    }
  }

  // .products__points {
  //   display: flex;
  //   width: 26px;
  //   height: 6px;
  //   position: absolute;
  //   background-color: transparent;

  //   &:not(:last-child) {
  //     margin-right: 4px;
  //   }
  // }

  // .products__points {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   width: 6px;
  //   height: 6px;
  //   border: 1px solid var(--white-color);
  //   fill: var(--white-color);

  //   &::after {
  //     position: absolute;
  //     top: 50%;
  //     left: 0;
  //     content: '';
  //     display: block;
  //     width: 6px;
  //     height: 6px;
  //     border: 1px solid var(--white-color);
  //     fill: var(--white-color);
  //     left: calc(50% - 4px);
  //   }
  //   &::before {
  //     position: absolute;
  //     top: 50%;
  //     right: 4px;
  //     content: '';
  //     display: block;
  //     width: 6px;
  //     height: 6px;
  //     border: 1px solid var(--white-color);
  //     fill: var(--white-color);
  //     right: calc(50% - 4px);
  //   }
}
