/*#region -----common----- #*/
/*.container {
}

//id
#slider-wrap {
}

.slider {
}

//id
#slider {
}

.slider__item {
}
.slider__img {
}
.slider__text {
}*/

/*#region -----dots-three----- #*/
.dots-three {
  display: flex;
}
.dots-three__item {
  width: 4px;
  height: 4px;

  border: none;
  border-radius: 50%;
  background-color: var(--dots-three);

  &:not(:last-child) {
    margin-right: 10px;
  }
}
/*#endregion #*/

/*
.slider__title {
}

//id
#left {
}
#right {
}

.slider_control {
}
.slider__count {
}

//id
#slider__count {
}*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/
