/*#region -----common----- #*/
/*.container {
}

//id
#slider-wrap {
}
*/
.slider {
  padding: 40px 50px 30px;
  @media screen and (min-width: 768px) {
    padding: 40px 100px 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 40px 115px 30px;
  }
}
/*
//id
#slider {
}
*/
.slider__item {
  &:nth-child(n + 2) {
    display: none;
  }
}

.slider__img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.slider__text {
  position: relative;

  margin-bottom: 50px;
  padding: 0 9px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;

  color: var(--black-color);

  &:nth-child(2) {
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 29px,
      var(--underline-text-color) 0,
      var(--underline-text-color) 30px
    );
  }
  &::before {
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 15px;

    content: '';
    width: 54px;
    height: 40px;
    background-repeat: round;
    background-image: url(/images/reviews/quotes_w54h40.svg);
    fill: var(--underline-text-color);
    @media screen and (min-width: 480px) {
      top: -15px;
      left: -25px;
    }
    @media screen and (min-width: 768px) {
      top: -17px;
      left: -20px;
    }
    @media screen and (min-width: 1200px) {
      left: 0;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 0 20px;
    font-size: 14px;
    line-height: calc(30 / 14);
  }
  @media screen and (min-width: 1200px) {
    padding: 0 30px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

/*#region -----dots-three----- #*/
.dots-three {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}
.dots-three__item {
  width: 4px;
  height: 4px;

  border: none;
  border-radius: 50%;
  background-color: var(--dots-three-color);

  &:not(:last-child) {
    margin-right: 10px;
  }
}
/*#endregion #*/

.slider__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;
  color: var(--black-color);
  @media screen and (min-width: 768px) {
    padding: 0 20px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  @media screen and (min-width: 1200px) {
    padding: 0 30px;
    font-size: 20px;
    line-height: calc(37 / 16);
  }
}
/*
//id
#left {
}
#right {
}

.slider_control {
}
.slider__count {
}

//id
#slider__count {
}*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/

/*#region -----dots-three----- #*/
/*#endregion #*/
